In [6]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import matplotlib.patheffects as pe
from mpl_toolkits.axes_grid1 import make_axes_locatable
import contextily as ctx
from shapely.geometry import Point

Reading Spatial Data

In [7]:
# saving neighborhood tabulation areas (nta) file link as 'path'
path = 'https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Neighborhood_Tabulation_Areas_2010\
/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson'
nta_shape = gpd.read_file(path)

# sanity check
print('shape of data: {}'.format(nta_shape.shape))
nta_shape.head()

shape of data: (195, 9)

,OBJECTID,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape__Area,Shape__Length,geometry
0,1,4,Queens,081,QN08,St. Albans,7.741276e+07,45401.225082,"POLYGON ((-73.75205 40.70524, -73.75175 40.704..."
1,2,4,Queens,081,QN55,South Ozone Park,8.246139e+07,36708.169305,"POLYGON ((-73.80577 40.68294, -73.80552 40.682..."
2,3,3,Brooklyn,047,BK50,Canarsie,8.208973e+07,43703.355420,"MULTIPOLYGON (((-73.88834 40.64672, -73.88835 ..."
3,4,2,Bronx,005,BX41,Mount Hope,1.471671e+07,18937.247819,"POLYGON ((-73.89561 40.85458, -73.89663 40.852..."
4,5,4,Queens,081,QN26,North Corona,1.800385e+07,18429.533493,"POLYGON ((-73.85450 40.75829, -73.85421 40.757..."

In [8]:
# saving school points shapefile link as 'path'
path = 'https://data.cityofnewyork.us/download/jfju-ynrr/application%2Fzip'
school_points = gpd.read_file(path) 

# sanity check
print('shape of data: {}'.format(school_points.shape))
school_points.head()

shape of data: (1709, 18)

,ATS_CODE,BORO,BORONUM,LOC_CODE,SCHOOLNAME,SCH_TYPE,MANAGED_BY,GEO_DISTRI,ADMIN_DIST,ADDRESS,STATE_CODE,ZIP,PRINCIPAL,PRIN_PH,FAX,GRADES,City,geometry
0,b'15K001 \xa0\xa0\xa0\xa0\xa0',K,2.0,K001,P.S. 001 THE BERGEN,Elementary,1,15,15,309 47 STREET,NY,11220,Jennifer Eusanio,718-567-7661,718-567-9771,"PK,0K,01,02,03,04,05,SE",BROOKLYN,POINT (980985.054 175780.759)
1,b'17K002 \xa0\xa0\xa0\xa0\xa0',K,2.0,K002,M.S. 002,Junior High-Intermediate-Middle,1,17,17,655 PARKSIDE AVENUE,NY,11226,ADRIENNE SPENCER,718-462-6992,718-284-7717,"06,07,08,SE",BROOKLYN,POINT (997785.136 178431.911)
2,b'21K095 \xa0\xa0\xa0\xa0\xa0',K,2.0,K095,P.S. 095 THE GRAVESEND,K-8,1,21,21,345 VAN SICKLEN STREET,NY,11223,Janet Ndzibah,718-449-5050,718-449-3047,"PK,0K,01,02,03,04,05,06,07,08,SE",BROOKLYN,POINT (991224.983 156323.361)
3,b'21K096 \xa0\xa0\xa0\xa0\xa0',K,2.0,K096,I.S. 096 SETH LOW,Junior High-Intermediate-Middle,1,21,21,99 AVENUE P,NY,11204,Denise Sandra Levinsky,718-236-1344,718-236-2397,"06,07,08,SE",BROOKLYN,POINT (988439.681 160709.993)
4,b'21K097 \xa0\xa0\xa0\xa0\xa0',K,2.0,K097,P.S. 97 THE HIGHLAWN,Elementary,1,21,21,1855 STILLWELL AVENUE,NY,11223,KRISTINE MUSTILLO,718-372-7393,718-372-3842,"PK,0K,01,02,03,04,05,SE",BROOKLYN,POINT (988205.073 158329.591)

Writing Spatial Data

In [10]:
# Writing nta file to Shapefile foramt
nta_shape.to_file("nta_shape.shp", index=False)

# Writing nta file to GeoJSON format
nta_shape.to_file("nta_shape.geojson", driver='GeoJSON', index=False)

<ipython-input-10-dc28c7b1f1a6>:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  nta_shape.to_file("nta_shape.shp", index=False)

In [15]:
# returning the type of a column in our dataframe
type(nta_shape['geometry'])

geopandas.geoseries.GeoSeries

Basic Attributes

In [16]:
path = 'https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Neighborhood_Tabulation_Areas_2010\
/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson'
nta_shape = gpd.read_file(path)

print('shape of data: {}'.format(nta_shape.shape))
nta_shape.head()

shape of data: (195, 9)

,OBJECTID,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape__Area,Shape__Length,geometry
0,1,4,Queens,081,QN08,St. Albans,7.741276e+07,45401.225082,"POLYGON ((-73.75205 40.70524, -73.75175 40.704..."
1,2,4,Queens,081,QN55,South Ozone Park,8.246139e+07,36708.169305,"POLYGON ((-73.80577 40.68294, -73.80552 40.682..."
2,3,3,Brooklyn,047,BK50,Canarsie,8.208973e+07,43703.355420,"MULTIPOLYGON (((-73.88834 40.64672, -73.88835 ..."
3,4,2,Bronx,005,BX41,Mount Hope,1.471671e+07,18937.247819,"POLYGON ((-73.89561 40.85458, -73.89663 40.852..."
4,5,4,Queens,081,QN26,North Corona,1.800385e+07,18429.533493,"POLYGON ((-73.85450 40.75829, -73.85421 40.757..."

In [17]:
# returns the object's Coordinate Reference System (CRS)
nta_shape.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [18]:
# changing the CRS to 2263
nta_shape = nta_shape.to_crs(epsg=2263)

nta_shape.crs

<Projected CRS: EPSG:2263>
Name: NAD83 / New York Long Island (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - New York - counties of Bronx; Kings; Nassau; New York; Queens; Richmond; Suffolk.
- bounds: (-74.26, 40.47, -71.8, 41.3)
Coordinate Operation:
- name: SPCS83 New York Long Island zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [19]:
# returning the geometry column name of our dataframe
nta_shape.geometry.name

'geometry'

In [20]:
# returns the area of each geometry in our dataframe
(nta_shape
 .area
 .head()
)

0    7.741295e+07
1    8.246163e+07
2    8.208999e+07
3    1.471672e+07
4    1.800388e+07
dtype: float64

In [21]:
# returns the length of each geometry in our dataframe
(nta_shape
 .length
 .head()
)

0    45401.271303
1    36708.218997
2    43703.421679
3    18937.254355
4    18429.554579
dtype: float64

In [22]:
# returns the bounds of each geometry in our dataframe
(nta_shape
 .bounds
 .head()
)

           minx           miny          maxx           maxy
0  1.044355e+06  184845.847546  1.055350e+06  197904.544570
1  1.028591e+06  180690.523595  1.039416e+06  191431.566693
2  1.006464e+06  166079.738521  1.018348e+06  178005.554247
3  1.007222e+06  246205.578554  1.013128e+06  251177.316970
4  1.019252e+06  210706.938491  1.024941e+06  215596.863005

In [23]:
# returns the values for the bounds of the series as a whole
nta_shape.total_bounds

array([ 913174.90970924,  120131.4602932 , 1067382.17172758,
        272847.44352011])

In [24]:
# returning the type of geometries
(nta_shape
 .geom_type
 .head()
)

0         Polygon
1         Polygon
2    MultiPolygon
3         Polygon
4         Polygon
dtype: object

In [25]:
# returning valid geometry
(nta_shape
 .is_valid
 .head()
)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [ ]:
path = 'https://data.cityofnewyork.us/download/jfju-ynrr/application%2Fzip'
school_points = gpd.read_file(path) 

print('shape of data: {}'.format(school_points.shape))
school_points.head()